{% extends "bootstrap/mybase_online.html" %}

{% block title %} Desescalada de Madrid {% endblock title %}


{% block content %}
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Bienvenido, {{current_user.username}}</h1>

          
              <span class="text-muted">Something else</span>
            </div>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Jugando</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Competicion</th>
                  <th>Usuario</th>
                  <th>Score</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                  <th>Max Intentos</th>
                  <th>Descripcion</th>
                </tr>
              </thead>
              <tbody>
               
                {% for row in rows_competiciones_jugando %}
                    <tr>
                        <td><a href="/files/{{ row.competioncode }}">{{ row.competioncode }}</a></td>
                        <td>{{ row.username }}</td>
                        <td>{{ row.score}}</td>
                        <td>{{ row.inicio_date }}</td>
                        <td>{{ row.final_date }}</td>
                        <td>{{ row.num_max_intentos }}</td>
                        <td>{{ row.descripcion }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if current_user.type_user == 2 %}
            <h2 class="sub-header">Creadas</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Competicion</th>
                    <th>Usuario</th>
                    <th>Fecha creacion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in rows_competiciones_creadas %}
                      <tr>
                          <td><a href="/ranking/{{ row.competioncode }}">{{ row.competioncode }}</a></td>
                          <td>{{ row.username }}</td>
                          <td>{{ row.creation_date}}</td>
                      </tr>
                 {% endfor %}
                </tbody>
              </table>
            {% endif %}

          </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}