{% extends "bootstrap/mybase_offline.html" %}

{% block title %} Desescalada Ordenada {% endblock title %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static',filename='starter-template.css')}}">
{% endblock styles %}

{% block content %}
    <div class="container">

        <div class="starter-template">
            <h1> Competiciones</h1>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Competicion</th>
                <th>Usuario</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Max Intentos</th>
                <th>Descripcion</th>
              </tr>
            </thead>
            <tbody>
             
                {% for row in competiciones %}
                  <tr>
                      <td><a href="{{url_for('.ranking', competioncode = row.competioncode ) }}">{{ row.competioncode }}</td>
                      <td>{{ row.username }}</td>
                      <td>{{ row.inicio_date }}</td>
                      <td>{{ row.final_date }}</td>
                      <td>{{ row.num_max_intentos }}</td>
                      <td>{{ row.descripcion }}</td>
                  </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}