{% extends "bootstrap/mybase_offline.html" %}

{% block title %} Desescalada Ordenada {% endblock title %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static',filename='starter-template.css')}}">
{% endblock styles %}

{% block content %}
    <div class="container">

        <div class="starter-template">
            <h1> Competiciones</h1>
        </div>

        
        <div class="row">
            {% for competicion in competiciones %}
            <li><a href="{{url_for('.ranking', competioncode = competicion.competioncode ) }}"> id: {{ competicion.competioncode }} username: {{ competicion.username }} codigo: {{ competicion.competioncode }} </a></li>
            {% endfor %}

        </div>
        <br>
        <br>
        <div class="row">
            <p>Acepto sugerencias y colaboraradores que se interesen en apoyarme con la extracción de datos de Esri.</p>
             <ul>
              <li>vídeo: <a href="https://www.youtube.com/watch?v=vnCffCH0Kxc">https://www.youtube.com/watch?v=vnCffCH0Kxc</a></li>
              <li>Esri: <a href="https://comunidadcovid.maps.arcgis.com/home/index.html">https://comunidadcovid.maps.arcgis.com/home/index.html</a></li>
            </ul>

            <p>Contacto: Prof. Manoel Gadi - manoel.alonso@u-tad.com </p>
        </div>
    </div>
{% endblock content %}