{% extends "bootstrap/mybase_offline.html" %}

{% block title %} Desescalada Ordenada {% endblock title %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static',filename='starter-template.css')}}">
{% endblock styles %}

{% block content %}
    <div class="container">

        <div class="starter-template">
            <h1> Desescalada Ordenada - Creando silos / Salvando vidas </h1>
            <h2> Uso por silos de la calle y de espacios públicos </h2>
        </div>


        <div class="row">
            <p> <b>Descripción:</b> Personas son asignadas a un silo, solo salen en horarios y a sitios autorizados para su silo, de manera
            que solo se encuentran con gente de su mismo silo. Por lo que los infectados de un silo no infectan otros silos. </p>
            <p>  <b>Objetivos:</b> El vídeo <a href="https://www.youtube.com/watch?v=gxAaO2rsdIs"><i>Simulating an epidemic</i></a> muestra
            que silos disminuyen el nivel de contagio. El objetivo de esta App es gestionar estos silos (clúster) de personas en el espacio
            y en el tiempo (horas del día) informando los horarios y sitios autorizados para dicho individuo basado en su geolocalización y
            su clúster. </p>

            <p>  <b>¿Que queremos?</b> Una desescalada ordenada, con máxima movilidad y con menor riesgo de rebrote. </p>
            <p>  <b>¿y cuando queremos?</b> Ya! Y nada de jugársela. </p>


        </div>
        <br>
        <br>
        <div class="row">
            <p>Acepto sugerencias y colaboraradores que se interesen en apoyarme con la extracción de datos de Esri.</p>
             <ul>
              <li>vídeo: <a href="https://www.youtube.com/watch?v=vnCffCH0Kxc">https://www.youtube.com/watch?v=vnCffCH0Kxc</a></li>
              <li>Esri: <a href="https://comunidadcovid.maps.arcgis.com/home/index.html">https://comunidadcovid.maps.arcgis.com/home/index.html</a></li>
            </ul>

            <p>Contacto: Prof. Manoel Gadi - manoel.alonso@u-tad.com </p>
        </div>
    </div>
{% endblock content %}