{% extends "bootstrap/mybase_online.html" %}

{% block title %} Ranking {% endblock title %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static',filename='ranking.css')}}"> 
{% endblock styles %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Bienvenido a la competicion {{competicion.descripcion }}</h1>
          <div class="container" style="margin:0; padding:0; width: 100%;">
            <div class="row">
              <div class="col-md-4 desc">
                <h1 class="desc-ti">Informacion</h1>
                <h2>Desafiante</h2>
                <p>{{competicion.username }}</p>
                <h2>Descripcion</h2>
                <p>{{competicion.descripcion }}</p>
                <h2>Fecha de creación:</h2>
                <p>{{competicion.creation_date }}</p>
                <h2>Fecha de inicio</h2>
                <p>{{competicion.inicio_date}}</p>
                <h2>Fecha de fin</h2>
                <p>{{competicion.final_date }}</p>
                <h2>Tiempo entre subidas</h2> 
                <p>{{competicion.intervalo_subida}} s</p>
               
                </div>
              <div class="col-md-6 col-md-offset-1">
                <div class="row-botones">
                  <a class="btn btn-primary" href="/code/{{ competicion.competioncode }}.py " download>
                    <h4>Codigo para competir(.py)</h4>
                  </a>
                  <a class="btn btn-primary" href="/static/uploads/{{ file.filename}}" download>
                    <h4>Dataset(.csv)</h4>
                  </a>
                </div>
                <h1 class="desc-ti">Intentos</h1>
                <div class="table-responsive">
                  <table id="myTable" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Código de la competición</th>
                        <th>Nombre del usuario</th>
                        <th>Score</th>
                        <th>Métrica</th>
                        <th>Fecha de envio</th>
                      </tr>
                    </thead>


                    <tbody>
                      {% for row in rows %}
                      <tr>
                          <td><a href="/files/{{ row.competioncode }}">{{ row.competioncode }}</a></td>
                          <td>{{ row.username }}</td>
                          <td>{{ row.score}}</td>
                          <td>{{ row.metrica}}</td>
                          <td>{{ row.creation_date}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

{% endblock content %}