{% extends "bootstrap/mybase_online.html" %}

{% block title %} Subir Documento {% endblock title %}


{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

              <div class="table-responsive">
                <table id="myTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Código de la competición</th>
                      <th>Nombre del usuario</th>
                      <th>Score</th>
                    </tr>
                  </thead>


                  <tbody>
                    {% for row in rows %}
                    <tr>
                        <td><a href="/files/{{ row.competioncode }}">{{ row.competioncode }}</a></td>
                        <td>{{ row.username }}</td>
                        <td>{{ row.score}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>




        </div>
      </div>
    </div>

<script>

    var drag_over = function(e) {
        e.stopPropagation();
        e.preventDefault();
		$('#box').addClass('hover');
		$('#drop-mask').show();
    };

    var drag_leave = function(e) {
        e.stopPropagation();
        e.preventDefault();
		$('#box').removeClass('hover');
		$('#drop-mask').hide();
    };


	var drag_drop = function(e){
        e.stopPropagation();
        e.preventDefault();
		$('#box').removeClass('hover');
		$('#drop-mask').hide();
        fileInput.files = e.dataTransfer.files;
	};

    var overArea = document.getElementById('box');
    var dropMask = document.getElementById('drop-mask');

	overArea.addEventListener('dragover', drag_over, false);
	dropMask.addEventListener('dragleave', drag_leave, false);
    dropMask.addEventListener('drop', drag_drop, false);
</script>


<style>
#box {
    width:400px;
    height:200px;
    border:10px dashed lightgray;
    margin:0px;
}

#box.hover {
    background:#eee;
    border:10px dashed #F00;
}

#drop-mask {
    position:absolute;
    width:410px;
    height:210px;
    z-index:999999;
    display:none;
    margin:0px;
}

</style>
{% endblock content %}