{% extends "bootstrap/mybase_online.html" %}

{% block title %} Subir Documento {% endblock title %}


{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-25 col-md-offset-2 main">
            <div class="container">
                <div id="box">
        		    <div id="drop-mask"></div>
                        <h4>Por favor subir 2 ficheros. El fichero de entrenamiento y el fichero de test: </h4>
                        <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" id="fileInput" class="button2" accept=".csv" capture multiple><br><br>
                  </div>
                    {{ wtf.form_field(form.descripcion) }}
                    {{ wtf.form_field(form.intentos_diarios) }}
                    {{ wtf.form_field(form.dia_inicio)}}
                    {{ wtf.form_field(form.dia_fin) }}
                            <input type="submit" value="Subir" class="button3">
                        </form>
            </div>

        <br>
        <br>

              <div class="table-responsive">
                <table id="myTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre del usuario</th>
                      <th>Código de la competición</th>
                      <th>Código python para competir</th>
                      <th>Fecha de creación</th>
                      <th>Fecha Inicio</th>
                      <th>Fecha Fin</th>
                      <th>Max Intentos</th>
                      <th>Descripcion</th>
                    </tr>
                  </thead>


                  <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.username }}</td>
                        <td><a href="/files/{{ row.competioncode }}">{{ row.competioncode }}</a></td>
                        <td><a href="/code/{{ row.competioncode }}.py" download>{{ row.competioncode }}.py</a></td>
                        <td>{{ row.creation_date }}</td>
                        <td>{{ row.inicio_date }}</td>
                        <td>{{ row.final_date }}</td>
                        <td>{{ row.num_max_intentos }}</td>
                        <td>{{ row.descripcion }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>




        </div>
      </div>
    </div>

<script>

    var drag_over = function(e) {
        e.stopPropagation();
        e.preventDefault();
		$('#box').addClass('hover');
		$('#drop-mask').show();
    };

    var drag_leave = function(e) {
        e.stopPropagation();
        e.preventDefault();
		$('#box').removeClass('hover');
		$('#drop-mask').hide();
    };


	var drag_drop = function(e){
        e.stopPropagation();
        e.preventDefault();
		$('#box').removeClass('hover');
		$('#drop-mask').hide();
        fileInput.files = e.dataTransfer.files;
	};

    var overArea = document.getElementById('box');
    var dropMask = document.getElementById('drop-mask');

	overArea.addEventListener('dragover', drag_over, false);
	dropMask.addEventListener('dragleave', drag_leave, false);
    dropMask.addEventListener('drop', drag_drop, false);
</script>


<style>
#box {
    width:400px;
    height:200px;
    border:10px dashed lightgray;
    margin:0px;
}

#box.hover {
    background:#eee;
    border:10px dashed #F00;
}

#drop-mask {
    position:absolute;
    width:410px;
    height:210px;
    z-index:999999;
    display:none;
    margin:0px;
}

</style>
{% endblock content %}